.home-page {
    display: flex;
    flex-wrap: wrap;
}

.filter {
   margin: 20px;
}

.filter select {
    padding: 3px;
}

.match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
    border-radius: 10px;
}

.match {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.match-date {
    font-weight: 300;
    color: rgb(108, 107, 107);
    font-size: 14px;
    font-style: italic;
    padding-bottom: 15px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team img {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 50%;
    margin-bottom: 10px;
}

.home-page .score {
    font-size: 20px;
}

.team-manager {
    font-weight: 300;
    color: rgb(128, 128, 128);
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .match-card {
        margin: 20px 0;
        font-size: 14px;
    }
}