.site-header {
    background: url('/images/242822574.jpg') no-repeat center center;
    background-size: cover;
    height: 150px;
    display: flex;
}

.site-header img {
    width: 100px;
    padding: 10px;
}

.site-header a {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 50px;
}